<!------<header>
  <nav>
    <ul>
      <li><a href="http://">lien1</a></li>
      <li><a href="http://">lien2</a></li>
      <li><a href="http://">lien3</a></li>
    </ul>
  </nav>
</header>----->
<body>
<div class="row">
<div class="card " style="width: 20rem;">
  <h2 class="card-title">Location</h2>
  <div class="card-body">
    <carousel [isAnimated]="true">
      <slide *ngFor="let v of v_locations;">
        <img width="50" src="assets/images/{{v.imageList[0].url}}" alt="first slide" style="display: block;  width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="card-text">{{v.matricule}}</h3>
          <button class="btn btn-success" (click)="openPopup(v.id_vehicule)">Voir detail</button>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<div class="card text-center " style="width: 20rem;">
  <h2 class="card-title">Transport</h2>
  <div class="card-body">
    <carousel [isAnimated]="true">
      <slide *ngFor="let v of v_transport;">
        <img width="50" src="assets/images/{{v.imageList[0].url}}" alt="first slide" style="display: block;  width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="card-text">{{v.matricule}}</h3>
          <button class="btn btn-success" (click)="openPopup(v.id_vehicule)">Voir detail</button>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="card-footer">ceci est la partie Transport</div>
</div>
<div class="card text-end " style="width: 21rem;">
  <h2 class="card-title">Vente</h2>
  <div class="card-body">
    <carousel [isAnimated]="false">
      <slide *ngFor="let v of v_ventes;">
        <img width="50" src="assets/images/{{v.imageList[0].url}}" alt="first slide" style="display: block;  width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="card-text">{{v.matricule}}</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <button class="btn btn-success" (click)="openPopup(v.id_vehicule)">Voir detail</button>
        </div>
      </slide>
    </carousel>
  </div>
</div>
</div>
</body>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class='fa fa-bank me-3'></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-home me-3"></i> Dakar, HLM 10012, DK</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 221 78 354 88 22</p>
          <p><i class="fa fa-print me-3"></i> + 221 33 354 88 22</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!----------------------------------- <<  -----  >> ----------------------------------------->
<div  class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
      <div id="myModal" class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body">
      <div class="container">
          <div class="row">
            <h3>Matricule : {{detail_v.matricule}}</h3>
            <p>{{detail_v.matricule}}</p>
            <carousel>
              <slide *ngFor="let img of detail_v.imageList;">
                <img width="50" src="assets/images/{{img.url}}" alt="first slide" style="display: block;  width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  <p>a afficher</p>
                </div>
              </slide>
            </carousel>
          </div>
      </div>
  
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger"
                  (click)="closePopup()"><mat-icon>close</mat-icon>
          </button>
      </div>
      </div>
  </div>
</div>

