#modalE{
	width: 1240px;
	background-color: #999;
}
#modal_detail
{
	height: 97%;
	//width: 1240px;
	
}
#popup
{
	height: 97%;
	width: 1240px;
	
}
.foot{
	margin-right: 10px;
}
.grille{
	width: 110px;
    //border: 1px solid gray;
   // background-color: thistle;
    height: 135px;
}
.btn-remove-image{
	position: relative;
	cursor: pointer;
   	//top: -55px;
   //	right: 2px;
	//margin-block-start: 1px;
	margin-bottom: 5px;
    background-color: red;
    color: white;
    border-radius: 60%;
    width: 50;
    height: 50;
    text-align: center;
}

.vu{
    cursor: pointer;
}

.up_space{
    margin: 2px;
}
.modal{
	width: 100%;
}
.modal-dialog{
    //border: 10px solid black;
    //width: 50;
	margin-left: -0px;
    position: relative;
    //align-self: start;
   // background-color: rgb(197, 127, 255);
}
.modal-content{
    //border: 10px solid green($color: #000000);
    width: 900px;
	height: 100%;
    //background-color: rgb(175, 180, 178);
}

thead{
    background-color: cadetblue;
}

/**********************src="{{base_url}}assets/images/{{urlimg}}" *****************************/

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

/************************table search****************************/
table {
    width: 100%;
}

.full-width {
    font-size: 14px;
    width: 40%;
}
.searchh{
    background-color: white;
    border: 2px solid white;
    border-radius: 15%;
}