
<div class="row">
    <div class="col-sm-12" style="margin-bottom: 30px">
        <button (click)="openModal(template)" type="button" id="btn_add" class="btn btn-primary">Ajouter 
            <span lass="m-l-5"><i class="fa fa-plus-square"></i></span>
        </button>
    </div>
</div>
<!-------------------------------------------------------------->

<div class="container">
    <div *ngIf="!isAddClicked">
        <h2>Liste menu</h2>
        <table class="table table-striped table-bordered table-sm row-border hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">libelle menu</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of menus; let i=index">
                <td>{{m.id_menu}}</td>
                <td>{{m.code}}</td>
                <td>{{m.libelle}}</td>
                <td><button (click)="edite_menu(m.id_menu,template)"   class="btn  btn-sm"><mat-icon style="color:blue ;" >edit</mat-icon></button></td>
                
                <td><button   mwlConfirmationPopover popoverTitle="Suppression"
                  popoverMessage="Souhaiter-vous vraiment  supprimer le menu {{m.libelle}} ?" 
                  (confirm)="deleMenu(m.id_menu)" placement="auto" container='body' 
                  class="btn btn-sm" ><i style="color: red;" class="fa fa-trash-o fa-2x"></i>
                </button></td> 
              </tr>
            </tbody>
          </table>
          <!--<ngb-pagination [collectionSize]="70" [(page)]="page"></ngb-pagination>-->
    </div>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-10 up_space">
          <form action=""  [formGroup]="userForm" (ngSubmit)="onSaveMenu()" >
              <div class="input-group mb-3">
               <span class="input-group-text" >Code menu</span>
               <input type="hidden" name="id_menu" formControlName ="id_menu" id="">
               <input type="text" class="form-control" formControlName ="code" placeholder="Code menu" >
              </div>
              <!--------------------------------------------------------------------------------------->
              <div class="input-group mb-3">
                  <span class="input-group-text" >Libelle</span>
                  <input type="text" class="form-control" formControlName="libelle"  placeholder="libelle" >
              </div>
              <input type="hidden" value="1" formControlName="etat">
             <div class="row">
                  <div class="col-sm"></div>
                  <button *ngIf="isAddClicked" type="submit"  class="btn btn-success col-sm">Enregistrer</button> 
                  <button *ngIf="!isAddClicked" type="submit"  class="btn btn-success col-sm">Modifier</button>       
             </div>
         </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-outline-dark ml-1" (click)="closeModal()" style="border: solid 2px black ;">
                  <i class="fa fa-close"></i> Close</button>
        </div>
      </div>
    </ng-template>
</div>
  
  
