<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <p><img src="assets/images/sbc_logo.jpg" alt="vehicule" width="90" height="60" alt="" srcset=""></p>
   <span class="menu-spacer"></span>
  Responsive side navigation
  <div><i class="fa fa-bell-o fa-x"></i> <span>5</span></div>
  <div><span><i class="fa fa-comment"></i></span></div>
  <ul class="nav pull-right top-menu">
      <!-- user login dropdown start-->
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="profile-ava">
                            <img alt="" src="assets/menu/img/avatar1_small.jpg">
                        </span>
                        <span class="username">nom</span><!--{{name}}-->
                        <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <div class="log-arrow-up"></div>
          <li class="eborder-top">
            <a href="#"><i class="icon_profile"></i> My Profile</a>
          </li>
          <li>
            <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
          </li>
          <li>
            <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
          </li>
          <li>
            <a href="#"><i class="icon_chat_alt"></i> Chats</a>
          </li>
          <li>
            <a  style="cursor: pointer;"><i class="icon_person"></i>S'inscrire</a><!---(click)="register()"-->
          </li>
          <li>
            <a  style="cursor: pointer;"><i class="icon_person"></i>Se connecter</a><!--(click)="login()"-->
          </li>
          <li>
            <a href="login.html"><i class="icon_key_alt"></i> Log Out</a>
          </li>
          <li>
            <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
          </li>
          <li>
            <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
          </li>
        </ul>
      </li>
      <!-- user login dropdown end -->
  </ul>
  <a mat-button class="menu-butto"routerLinkActive="active" routerLink="/register">
    <mat-icon>help</mat-icon>
    <span>S'inscrire</span>
  </a>
  <a mat-button class="menu-butto"routerLinkActive="active" ><!--(click)="onConnected()"-->
    <mat-icon>person</mat-icon>
    <span>Connexion</span>
  </a>
</mat-toolbar>




<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <!--<img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>
  -->
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item  routerLinkActive="active" routerLink="/dashboard"> 
        <mat-icon class="routeIcon">dashboard</mat-icon>
        <span class="menu-item-text">Dashboard</span>
      </a>
      <hr>
      <!--<button class="btn btn-primary" (click)="openDialog()">
        Click to open pop up</button>
        <hr>       addv   -->
        <!--listemenus     -- [item]="item"-->
        <app-sidebar *ngFor="let item of menu" [item]="item" ></app-sidebar>
    </mat-nav-list>
   </mat-sidenav>
  <!--<mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>-->
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
