<mat-toolbar class="mat-elevation-z8" >

  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <p><img class="profile-image-toolbar" src="assets/images/sbc_logo.jpg" alt="vehicule" width="50" height="50" alt="" srcset=""></p>
  <span class="menu-spacer"></span>
  <h3 class="col-md-3">SBC Groupe</h3>
  <div class="col-md-3"></div>
    <div class="col-md-1"><i class="fa fa-bell-o fa-x"></i> <span class="notif">5</span></div>
    <div class="col-md-1"><span><i class="fa fa-comment"></i></span></div>
    
      <ng-container>
        <div mat-buttonn [matMenuTriggerFor]="userMenu" class="vu">
          <img
            width="30"
            height="30"
            class="profile-image-toolbar"
            [src]="'assets/images/image-placeholder.png'"
          />
          <mat-icon>expand_more</mat-icon>
        </div>
      </ng-container>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <!--<img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>
  -->
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item  routerLinkActive="active" routerLink="/dashboard"> 
        <mat-icon class="routeIcon">dashboard</mat-icon>
        <span class="menu-item-text">Dashboard</span>
      </a>
      <hr>
      <!--<button class="btn btn-primary" (click)="openDialog()">
        Click to open pop up</button>
        <hr>       addv   -->
        <!--listemenus     -- [item]="item"-->
        <app-sidebar *ngFor="let item of menu" [item]="item" ></app-sidebar>
    </mat-nav-list>
   </mat-sidenav>
  <!--<mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>-->
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <footer>
    <h2>Sticky Footer !!</h2>
    <p>... with variable height</p>
  </footer>
</mat-sidenav-container>
<mat-menu #userMenu="matMenu">
  <div class="userInfoo">
    <h2>{{prenom}}</h2>
    <hr>
  <button class="col-md-1" mat-button class="menu-button"routerLinkActive="active" routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button class="col-md-1" mat-button class="menu-button"routerLinkActive="active" routerLink="/auth">
    <mat-icon >settings_power</mat-icon>déconnecter<!--exit_to_app-->
  </button>
  </div>
  <hr>
  <div class="connect">
    <button class="col-md-1" mat-button class="menu-button"routerLinkActive="active" routerLink="/register">
      <mat-icon>account_circle</mat-icon>
      S'inscrire
    </button>
    <button class="col-md-1" mat-button class="menu-button"routerLinkActive="active" routerLink="/login">
      <mat-icon >settings_power</mat-icon>Se connecter<!--exit_to_app-->
    </button>
  </div>
</mat-menu>
